BasedOnStyle: LLVM
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterReturnType: AllDefinitions
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: false
BreakBeforeBraces: WebKit
ColumnLimit: 120
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
EmptyLinesBeforeAccessModifier: Always
IndentPPDirectives: AfterHash
IndentWidth: 4
PenaltyBreakAssignment: 4000
PointerAlignment: Left
SpaceAfterCStyleCase: true
UseTab: Never
